@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Weather.WeatherStation.Localization
@using Volo.Abp.Users
@model Weather.WeatherStation.Web.Pages.IndexModel
@inject IHtmlLocalizer<WeatherStationResource> L
@inject ICurrentUser CurrentUser
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

<div class="container">
    @if(Model.Devices == null)
    {
        return;
    }

    @foreach(var item in Model.Devices)
    {
        <div class="list-elem bg-secondary text-white p-2 m-2" id="@item.Id">
            <p>Название: @item.Name</p>
            <p>Количество датчиков: @Model.GetSensorsAsync(item.Id).Result.Count</p>
        </div>
    }
</div>
